/* RegisterPage.css */

.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  text-align: center;
}

.register-box input,
.register-box button {
  display: block;
  margin: 0.5rem auto;
}

.register-message {
  margin-top: 1rem;
}
