.label {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  color: var(--primary-text-colour);
  width: 100%;
  max-width: 25rem;
}

.label-text {
  font-weight: 500;
  color: var(--secondary-text-colour);
}
